#registerForm {
    width: 380px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.inputArea {
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 20px; /* 添加padding */
    box-sizing: border-box;

    /* test */
    /* background-color: brown; */
}

.mutipleBox {
    display: flex;
    justify-content:space-between;
    gap: 15px;
/* 
    padding: 5px;
    padding-right: 5px;
    width: 100%; */

    /* test */
    /* background-color: yellow; */
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F1F2F5;
    border-radius: 3px;
    height: 36px;
    width: 100%;
    box-sizing: border-box;

    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.narrowBox {
    height: 30px;
    font-size: 14px;
}

.selectBox {
    height: 30px;
    font-size: 14px;
    /* appearance: none; */
}


.radio {
    color: aqua;
}

.button {
    width: 50%;
    height: 30px;
    background-color: #5BA12F;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.verifyWarning {
    height: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* 提供你的出生日期将确保金山办公提供与你年龄相符的使用体验。详细信息，请参阅我们的隐私权政策。 */

/* 如果你希望选择其他性别，或不想透露性别信息，请选择“自定义”。 */